*
!Cargo.lock
!Cargo.toml
!.cargo/
!.cargo/**
!admin-ui/
!admin-ui/**
!ag-ui-front/
!ag-ui-front/**
!app/
!app/**
!app-wrapper/
!app-wrapper/**
!base/
!base/**
!docker/
!docker/**
!grpc-front/
!grpc-front/**
!infra/
!infra/**
!mcp-server/
!mcp-server/**
!modules/
!modules/**
!plugins/
!plugins/**
!proto/
!proto/**
!runner/
!runner/**
!tests-with-worker/
!tests-with-worker/**
!worker-app/
!worker-app/**
!worker-main/
!worker-main/**
!target/
!target/release/
!target/release/all-in-one
!target/release/grpc-front
!target/release/mcp-http
