[submodule "modules/infra-utils"]
	path = modules/infra-utils
	url = https://github.com/sutr-app/infra-utils.git
[submodule "modules/command-utils"]
	path = modules/command-utils
	url = https://github.com/sutr-app/command-utils.git
