services:
  jobworkerp-grpc:
    image: ghcr.io/jobworkerp-rs/grpc-front:latest
    platform: linux/amd64
    env_file:
      # Ensure that the variables in .env match your environment
      - compose-scalable.env
    security_opt:
      - seccomp:unconfined
    cap_add:
      - SYS_PTRACE
    volumes:
      - ./log:/home/jobworkerp/log
      - ./plugins:/home/jobworkerp/plugins
      - /var/run/docker.sock:/var/run/docker.sock
    user: jobworkerp
    ports:
      - 9000:9000
    restart: on-failure
  jobworkerp-worker:
    image: ghcr.io/jobworkerp-rs/worker:latest
    platform: linux/amd64
    env_file:
      # Ensure that the variables in .env match your environment
      - compose-scalable.env
    security_opt:
      - seccomp:unconfined
    cap_add:
      - SYS_PTRACE
    volumes:
      - ./log:/home/jobworkerp/log
      - ./plugins:/home/jobworkerp/plugins
      - /var/run/docker.sock:/var/run/docker.sock
    user: jobworkerp
    restart: on-failure
  redis:
    hostname: 127.0.0.1
    image: redis:7
    command: [ "redis-server" ]
    ports:
      - 6379:6379
  db:
    image: mysql:8.4
    hostname: 127.0.0.1
    volumes:
      - mysql-volume:/var/lib/mysql
      - ./infra/sql/mysql/002_worker.sql:/docker-entrypoint-initdb.d/schema.sql
    ports:
      - 3306:3306
    environment:
      - MYSQL_HOST=127.0.0.1
      - MYSQL_USER=mysql
      - MYSQL_PASSWORD=mysqlpw
      - MYSQL_DATABASE=test
      - MYSQL_ROOT_PASSWORD=mysqlpw

volumes:
  mysql-volume:
