services:
  redis:
    hostname: 127.0.0.1
    #hostname: redis
    image: redis:7
    command: [ "redis-server" ]
    ports:
      - '6379:6379'
  db:
    image: mysql:8.4
    hostname: 127.0.0.1
    ports:
      - '3306:3306'
    volumes:
      - mysql-volume2:/var/lib/mysql
      - ./infra/sql/mysql/002_worker.sql:/docker-entrypoint-initdb.d/schema.sql
    environment:
      - MYSQL_ROOT_PASSWORD=mysqlpw
      - MYSQL_DATABASE=test
      - MYSQL_USER=mysql
      - MYSQL_PASSWORD=mysqlpw
  redis-cluster:
    image: grokzen/redis-cluster:7.0.10
    hostname: 127.0.0.1
    # health check settings
    #    options: >
    #      --health-cmd "redis-cli ping"
    #      --health-interval 10s
    #      --health-timeout 5s
    #      --health-retries 5
    expose:
      - 7000
      - 7001
      - 7002
      - 7003
      - 7004
      - 7005
      - 7006
      - 7007
    restart: always

volumes:
  mysql-volume2:

